<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div [hidden]="showForm">
    <app-group-button-general [component]="'Usuarios'" (buttonClick)="handleButtonClick($event)">
    </app-group-button-general>
    <app-general-table [columns]="getFieldsTable()" [transformedData]="dataTransformada" [acciones]="acciones"
        [columnAlignments]="getColumnAlignments()" [title]="'Usuarios'" (fetchDataEvent)="onFetchData($event)"
        [totalRecords]="totalRecord" [loadingTable]="loadingTable" [data]="dataUser"
        (actionEvent)="handleAction($event)">
    </app-general-table>
</div>
<c-row [hidden]="!showForm">
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header>
                <div class="container">
                    <div class="row justify-content-between align-items-center mb-2">
                        <div class="col-12 col-md-auto text-center text-md-start pt-2">
                            <h1 class="mb-0">Agregar usuario</h1>
                        </div>
                    </div>
                </div>
            </c-card-header>
            <c-card-body>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active tab-custom" id="general-tab" data-bs-toggle="tab"
                            data-bs-target="#general" type="button" role="tab" aria-controls="general"
                            aria-selected="true">
                            <span class="bolder">Información General</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-custom" id="permissions-tab" [class.disabled]="!formUser.valid"
                            [attr.aria-disabled]="!formUser.valid" data-bs-toggle="tab" data-bs-target="#permissions"
                            type="button" role="tab" aria-controls="permissions" aria-selected="false">
                            <span class="bolder">Permisos</span>
                        </button>
                    </li>
                </ul>
                <div class="tab-content border-tab" id="myTabContent">
                    <!-- Información General -->
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        <form [formGroup]="formUser" class="pt-3">
                            <div class="container">
                                <!-- Nombre y Nombre de Usuario -->
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <div class="form-group">
                                            <label for="name" class="bolder mb-1">Nombre</label>
                                            <input id="name" formControlName="name" type="text" class="form-control"
                                                [ngClass]="getValidationClass('name')" />
                                            <div *ngIf="formUser.get('name')?.invalid && (formUser.get('name')?.touched || formUser.get('name')?.dirty)"
                                                class="invalid-feedback">
                                                <div *ngIf="formUser.get('name')?.errors?.['required']">Nombre es
                                                    requerido.</div>
                                                <div *ngIf="formUser.get('name')?.errors?.['minlength']">Nombre debe
                                                    tener al menos 3 caracteres.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="username" class="bolder mb-1">Nombre de Usuario</label>
                                            <div class="d-flex">
                                                <div class="input-group">
                                                    <input id="username" type="text" class="form-control"
                                                        formControlName="username"
                                                        [ngClass]="getValidationClass('username')" />
                                                    <span class="input-group-text" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" (click)="openInformation(1)"
                                                        style="cursor: pointer;">?</span>
                                                </div>
                                                <button type="button" class="btn btn-primary ms-2"
                                                    (click)="generateUsername()" [disabled]="usernameDisabled">
                                                    {{ generating ? 'Generando...' : 'Generar' }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Correo Electrónico y Rol -->
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <div class="form-group">
                                            <label for="email" class="bolder mb-1">Correo Electrónico</label>
                                            <input id="email" formControlName="email" type="email" class="form-control"
                                                [ngClass]="getValidationClass('email')" />
                                            <div *ngIf="formUser.get('email')?.invalid && (formUser.get('email')?.touched || formUser.get('email')?.dirty)"
                                                class="invalid-feedback">
                                                <div *ngIf="formUser.get('email')?.errors?.['required']">Correo
                                                    electrónico es requerido.</div>
                                                <div *ngIf="formUser.get('email')?.errors?.['email']">Correo electrónico
                                                    no es válido.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="role" class="bolder mb-1">Rol</label>
                                            <mat-select formControlName="rol_id" placeholder="Seleccionar rol"
                                                (selectionChange)="selectRol($event.value)" ultiple="false"
                                                class="form-control" [ngClass]="getValidationClass('rol_id')">
                                                <ngx-mat-select-search [formControl]="searchControl"
                                                    placeholderLabel="Buscar rol"
                                                    noEntriesFoundLabel="No se encontraron resultados">
                                                </ngx-mat-select-search>
                                                <mat-option
                                                    *ngFor="let rol of dataRol | filterRol : searchControl.value"
                                                    [value]="rol.id">
                                                    {{rol.name}}
                                                </mat-option>
                                            </mat-select>
                                            <button *ngIf="formUser.get('rol_id')?.value" mat-icon-button
                                                (click)="clearSelection()" class="clear-icon">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <div *ngIf="formUser.get('rol_id')?.invalid && (formUser.get('rol_id')?.touched || formUser.get('rol_id')?.dirty)"
                                                class="invalid-feedback">
                                                <div *ngIf="formUser.get('rol_id')?.errors?.['required']">Rol es
                                                    requerido.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Compañia y Sucursal -->
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <div class="form-group">
                                            <label for="company" class="bolder mb-1">Compañia</label>
                                            <mat-select formControlName="company_id" placeholder="Seleccionar compañia"
                                                ultiple="false" class="form-control"
                                                [ngClass]="getValidationClass('company_id')"
                                                (selectionChange)="getBranchByCompany($event.value)">
                                                <ngx-mat-select-search [formControl]="searchControl"
                                                    placeholderLabel="Buscar compañia"
                                                    noEntriesFoundLabel="No se encontraron resultados">
                                                </ngx-mat-select-search>
                                                <mat-option
                                                    *ngFor="let company of dataCompany | filterCompany : searchControl.value"
                                                    [value]="company.id">
                                                    {{ company.name }}
                                                </mat-option>
                                            </mat-select>
                                            <button *ngIf="formUser.get('company_id')?.value" mat-icon-button
                                                (click)="clearSelectionCompany()" class="clear-icon">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <div *ngIf="formUser.get('company_id')?.invalid && (formUser.get('company_id')?.touched ||formUser.get('company_id')?.dirty)"
                                                class="invalid-feedback">
                                                <div *ngIf="formUser.get('company_id')?.errors?.['required']">
                                                    Compañia es requerida.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="role" class="bolder mb-1">Sucursal</label>
                                            <mat-select formControlName="branch_id" placeholder="Seleccionar sucursal"
                                                multiple="false" class="form-control"
                                                [ngClass]="getValidationClass('branch_id')">
                                                <ngx-mat-select-search [formControl]="searchControl"
                                                    placeholderLabel="Buscar sucursar"
                                                    noEntriesFoundLabel="No se encontraron resultados">
                                                </ngx-mat-select-search>
                                                <mat-option
                                                    *ngFor="let branch of dataBranch | filterRol : searchControl.value"
                                                    [value]="branch.id">
                                                    {{branch.name}}
                                                </mat-option>
                                            </mat-select>
                                            <ng-container *ngIf="loadingBranch; else closeButton">
                                                <mat-spinner diameter="24" strokeWidth="3"
                                                    class="spinner"></mat-spinner>
                                            </ng-container>
                                            <ng-template #closeButton>
                                                <button *ngIf="formUser.get('branch_id')?.value" mat-icon-button
                                                    (click)="clearSelectionBranch()" class="clear-icon">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </ng-template>
                                            <div *ngIf="formUser.get('branch_id')?.invalid && (formUser.get('branch_id')?.touched || formUser.get('branch_id')?.dirty)"
                                                class="invalid-feedback">
                                                <div *ngIf="formUser.get('branch_id')?.errors?.['required']">Sucursal es
                                                    requerida.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Foto de Perfil y Contraseña -->
                                <div class="row mb-4">
                                    <div class="col-md-6 mb-4 mb-md-0">
                                        <div class="form-group">
                                            <label for="image_profile" class="bolder mb-1">Foto de Perfil</label>
                                            <div class="input-group">
                                                <input id="image_profile" formControlName="image_profile" type="file"
                                                    class="form-control" accept="image/png, image/jpeg, image/jpg"
                                                    [ngClass]="getValidationClass('image_profile')"
                                                    (change)="onFileSelected($event)" />
                                                <span class="input-group-text" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" (click)="openInformation(2)"
                                                    style="cursor: pointer;">?</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label for="password" class="bolder mb-1">Contraseña</label>
                                            <div class="input-group">
                                                <input id="password" formControlName="password"
                                                    [type]="passwordVisible ? 'text' : 'password'" class="form-control"
                                                    [ngClass]="getValidationClass('password')"
                                                    (input)="checkPasswordStrength()" />
                                                <span class="input-group-text" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" (click)="togglePasswordVisibility()">
                                                    <svg cIcon size="lg"
                                                        [name]="passwordVisible ? 'cilLockLocked' : 'cilLockUnlocked'"
                                                        class="icon-svg"></svg>
                                                </span>
                                                <div *ngIf="formUser.get('password')?.invalid && (formUser.get('password')?.touched || formUser.get('password')?.dirty)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="formUser.get('password')?.errors?.['required']">
                                                        Contraseña es requerida.</div>
                                                    <div *ngIf="formUser.get('password')?.errors?.['minlength']">Debe
                                                        tener al menos 3 caracteres.</div>
                                                    <div *ngIf="formUser.get('password')?.errors?.['maxlength']">Debe
                                                        tener menos de 20 caracteres.</div>
                                                </div>
                                            </div>
                                            <div *ngIf="passwordStrengthMessage" [ngClass]="passwordStrengthClass"
                                                class="password-strength mt-2">
                                                {{ passwordStrengthMessage }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Activo y Botón Siguiente -->
                                <div class="row mb-4">
                                    <div class="col-12 col-md-6 mb-4 mb-md-0">
                                        <div class="form-group form-switch d-flex justify-content-center align-items-center"
                                            style="height: 40px; background-color: white;">
                                            <input class="form-check-input switch-custom" type="checkbox"
                                                id="is_disabled" formControlName="is_disabled" />
                                            <label class="form-check-label ms-4 bolder mb-1" for="is_disabled"
                                                [ngClass]="getTextClass()">
                                                {{ formUser.get('is_disabled')?.value ? 'Activo' : 'Inactivo' }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 d-flex justify-content-end" style="height: 40px;">
                                        <button type="button" class="btn btn-primary" [disabled]="formUser.invalid"
                                            (click)="goToNextTab()">
                                            Siguiente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Permisos -->
                    <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="permissions-tab">
                        <div class="container pt-3">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-warning" (click)="suggestedPermission()">Sugerir
                                        permisos</button>
                                    <span class="input-group-text" data-bs-toggle="tooltip" data-bs-placement="top"
                                        (click)="openInformation(3)" style="cursor: pointer;">?</span>
                                </div>
                                <button class="btn btn-primary" (click)="selectAllPermissions()">{{ textSelectAll
                                    }}</button>
                            </div>
                            <mat-accordion class="pt-3 pe-2 ps-2">
                                <mat-expansion-panel *ngFor="let group of dataPermission.groups; let i = index"
                                    [expanded]="i === 0" class="group-panel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="panel-title font-size-16">
                                            <span>{{ group.name }}</span>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div *ngIf="getModulesByGroup(group.id).length > 0">
                                        <mat-accordion class="pe-2 ps-2">
                                            <mat-expansion-panel
                                                *ngFor="let module of getModulesByGroup(group.id); let j = index"
                                                [expanded]="j === 0">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="panel-title font-size-16">
                                                        {{ module.name }}
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="row d-flex justify-content-center">
                                                    <div *ngFor="let permission of dataPermission.permissions"
                                                        class="col-auto mb-2">
                                                        <mat-checkbox
                                                            [checked]="checkedPermiso(module.id, permission.id)"
                                                            (change)="togglePermission(module.id, permission.id)"
                                                            color="primary">
                                                            {{ permission.name }}
                                                        </mat-checkbox>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                    <div *ngIf="getModulesByGroup(group.id).length <= 0"
                                        class="d-flex justify-content-center">
                                        Este grupo no tiene módulos asignados
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>
                        <div class="d-flex justify-content-between pb-2 pt-2">
                            <button class="btn btn-previous text-white ms-2"
                                (click)="goToPreviewTab()">Anterior</button>
                            <button class="btn btn-submit text-white me-2" (click)="onSubmit()">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-back text-white" (click)="backToTable()">Atrás</button>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<div id="svg-container" style="display:none;">
    <img [src]="(dataTemp.image_profile === null || dataTemp.image_profile === '') ? '../../../../assets/images/veterinario-black-img.png' : environment.apiStorage + dataTemp.image_profile"
        alt="User Image" width="250" height="250" style="border-radius: 50%;">
</div>