.tab-custom.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.border-tab {
    border-left: 1px solid #e4e0e0;
    border-bottom: 1px solid #e4e0e0;
    border-right: 1px solid #e4e0e0;
}

.switch-custom {
    width: 50px;
    height: 26px;
    background-color: #ddd;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s ease;
}

.switch-custom:checked {
    background-color: #28a745;
}

.switch-custom::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.switch-custom:checked::before {
    transform: translateX(24px);
}

.container {
    max-width: 100%;
}

.invalid-feedback {
    color: red;
}

.input-group {
    position: relative;
}

.input-group-text {
    cursor: pointer;
    border-radius: 0 0.25rem 0.25rem 0;
}

.icon-svg {
    width: 20px;
    height: 20px;
}

.invalid-feedback {
    color: red;
}

.password-strength {
    font-weight: bold;
}

.password-very-weak {
    color: red;
}

.password-weak {
    color: red;
}

.password-fair {
    color: orange;
}

.password-strong {
    color: blue;
}

.password-very-strong {
    color: green;
}

.password-extremely-strong {
    color: darkgreen;
}

.btn-back {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-previous {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-submit {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-back,
.btn-previous,
.btn-submit {
    color: #fff;
}

.btn-back:hover,
.btn-previous:hover,
.btn-submit:hover {
    opacity: 0.9;
}

.text-red {
    color: red;
}

.text-success {
    color: green;
}

.select-container {
    position: relative;
}

.clear-icon {
    position: absolute;
    top: 79%;
    right: 52px;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}

.spinner {
    position: absolute;
    top: 70%;
    right: 35px;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}

.clear-icon:hover {
    color: rgba(0, 0, 0, 0.87);
}

.form-group {
    position: relative;
}

.clear-icon mat-icon {
    font-size: 18px;
}

/* Estilos para el acordeón principal de grupos */
.mat-accordion {
    margin-top: 1rem;
}

.mat-expansion-panel {
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.mat-expansion-panel-header {
    background-color: #f8f9fa;
    /* Fondo muy claro */
    border-bottom: 1px solid #ddd;
    /* Línea de separación sutil */
}

.mat-expansion-panel-header.mat-expanded {
    background-color: #e9ecef;
    /* Fondo ligeramente diferente cuando está expandido */
}

.panel-title {
    color: #343a40;
    /* Color oscuro para el título */
    font-weight: 600;
}

/* Estilos para los grupos */
.mat-expansion-panel:nth-of-type(odd) .mat-expansion-panel-header {
    background-color: #f0f2f5;
    /* Color claro para el fondo de los grupos impares */
}

.mat-expansion-panel:nth-of-type(even) .mat-expansion-panel-header {
    background-color: #e9ecef;
    /* Color ligeramente diferente para el fondo de los grupos pares */
}

/* Estilos para el acordeón de módulos */
.mat-accordion.mat-expansion-panel {
    background-color: #ffffff;
    /* Fondo blanco para los módulos */
}

.mat-expansion-panel-header {
    border: 1px solid #ced4da;
    /* Línea de borde más visible */
}

/* Estilos para el contenido de los módulos */
.mat-checkbox {
    margin: 0.25rem 0;
    /* Espaciado entre checkboxes */
}

.d-flex.justify-content-center {
    color: #495057;
    /* Color para texto de grupos sin módulos */
    padding: 1rem;
    background-color: #f8f9fa;
    /* Fondo gris claro */
    border-radius: 4px;
}


@media (max-width: 576px) {

    .clear-icon {
        position: absolute;
        top: 77%;
        right: 50px;
        transform: translateY(-50%);
        background: none;
        border: none;
        outline: none;
        padding: 0;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.54);
    }

}