.terms a {
  color: #333333; /* Cambia a negro o al color que desees */
  text-decoration: none; /* Quita el subrayado */
  transition: color 0.3s ease;
}

.terms a:hover {
  color: #000000; /* El color que desees al hacer hover */
}


