.invalid-feedback {
    display: block;
}

.icon-scroll-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.icon-container {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected {
    border: 4px solid #1100ff;
    padding: 10px;
}


.input-group {
    display: flex;
    align-items: center;
}

.info-icon {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    color: #007bff;
}

.info-icon:hover {
    background-color: #e9ecef;
}

.tooltip-inner {
    max-width: 200px;
    font-size: 0.875rem;
}