<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div [hidden]="showForm">
  <app-group-button-general [component]="'Grupo de módulo'" (buttonClick)="handleButtonClick($event)">
  </app-group-button-general>
  <app-filter-header [date]="true" [state]="true" [name]="true" [title]="'Grupo de módulos'"
    (filterDataEvent)="setFilter($event)" (changeFilter)="viewTable = $event">
  </app-filter-header>
  <app-general-table [columns]="fieldsTable" [transformedData]="dataModuleTrasnform" [data]="dataModule"
    [acciones]="acciones" [columnAlignments]="columnAlignments" [title]="'Grupo de módulo'"
    (fetchDataEvent)="onFetchData($event)" [totalRecords]="totalRecord" [loadingTable]="loadingTable"
    (actionEvent)="handleAction($event)" *ngIf="viewTable">
  </app-general-table>
</div>
<c-row [hidden]="!showForm">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <div class="container">
          <div class="row justify-content-between align-items-center mb-2">
            <div class="col-12 col-md-auto text-center text-md-start pt-2">
              <h1 class="mb-0">Agregar permiso</h1>
            </div>
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <form [formGroup]="formGroupModule" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-column">
            <div class="form-group mb-0">
              <label for="nombre" class="bolder">Nombre</label>
              <input id="nombre" formControlName="nombre" type="text" class="form-control"
                [ngClass]="getValidationClass('nombre')" />
              <div *ngIf="
                  formGroupModule.get('nombre')?.invalid &&
                  (formGroupModule.get('nombre')?.touched ||
                    formGroupModule.get('nombre')?.dirty)
                " class="invalid-feedback">
                <div *ngIf="formGroupModule.get('nombre')?.errors?.['required']">
                  Nombre es requerido.
                </div>
                <div *ngIf="formGroupModule.get('nombre')?.errors?.['minlength']">
                  Nombre debe tener al menos 3 caracteres.
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
              <button type="submit" class="btn btn-primary" [disabled]="formGroupModule.invalid">
                Guardar
              </button>
            </div>
          </div>
        </form>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-danger text-white" (click)="backToTable()">
            Atrás
          </button>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>