<div>
    <div class="d-flex justify-content-end align-items-center mb-3" *ngIf="!showForm">
        <button class="btn btn-primary" (click)="showForm = true">Agregar</button>
    </div>
    <app-general-table *ngIf="!showForm" [columns]="fieldsTable" [transformedData]="dataModuleTrasnform"
        [data]="dataModule" [acciones]="true" [columnAlignments]="columnAlignments" [title]="'Módulos'">
    </app-general-table>
    <div *ngIf="showForm">

        <button class="btn btn-secondary mb-3" (click)="showForm = false">Atras</button>
    </div>
</div>