<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div [hidden]="showForm">
  <app-group-button-general [component]="'Compañías'" (buttonClick)="handleButtonClick($event)">
  </app-group-button-general>
  <app-filter-header [date]="true" [state]="true" [name]="true" [email]="true" [title]="'Compañías'"
    (filterDataEvent)="setFilter($event)" (changeFilter)="viewTable = $event">
  </app-filter-header>
  <app-general-table [columns]="getFieldsTable()" [transformedData]="dataCompanyTrasnform" [data]="dataCompany"
    [acciones]="acciones" [columnAlignments]="getColumnAlignments()" [title]="'Compañías'" [totalRecords]="totalRecord"
    [loadingTable]="loadingTable" (fetchDataEvent)="onFetchData($event)" (actionEvent)="handleAction($event)"
    *ngIf="viewTable">
  </app-general-table>
</div>
<c-row [hidden]="!showForm">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <div class="container">
          <div class="row justify-content-between align-items-center mb-2">
            <div class="col-12 col-md-auto text-center text-md-start pt-2">
              <h1 class="mb-0">{{(action !== 'save') ? 'Editar' : 'Agregar'}} compañía</h1>
            </div>
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active tab-custom" id="general-tab" data-bs-toggle="tab" data-bs-target="#general"
              type="button" role="tab" aria-controls="general" aria-selected="true">
              <span class="bolder">Información General</span>
            </button>
          </li>
        </ul>
        <div class="tab-content border-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
            <form [formGroup]="formCompany" class="pt-3 pb-3">
              <div class="container">
                <div class="row mb-sm-4">
                  <!-- Campo Nombre -->
                  <div class="col-md-6 mb-4 mb-md-0">
                    <div class="form-group position-relative">
                      <label for="name" class="mb-1 bolder">Nombre</label>
                      <input id="name" formControlName="name" type="text" class="form-control"
                        [ngClass]="getValidationClass('name')" spellcheck="false" maxlength="100" />
                      <div
                        *ngIf="formCompany.get('name')?.invalid && (formCompany.get('name')?.touched || formCompany.get('name')?.dirty)"
                        class="invalid-feedback position-absolute">
                        <div *ngIf="formCompany.get('name')?.errors?.['required']">Nombre es requerido.</div>
                        <div *ngIf="formCompany.get('name')?.errors?.['minlength']">Nombre debe tener al menos 3
                          caracteres.</div>
                        <div *ngIf="formCompany.get('name')?.errors?.['pattern']">
                          El nombre solo puede contener letras y un solo espacio entre palabras.
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Campo Correo Electrónico -->
                  <div class="col-md-6 mb-4 mb-md-0">
                    <div class="form-group position-relative">
                      <label for="email" class="mb-1 bolder">Correo electrónico</label>
                      <input id="email" formControlName="email" type="email" class="form-control"
                        [ngClass]="getValidationClass('email')" />
                      <div
                        *ngIf="formCompany.get('email')?.invalid && (formCompany.get('email')?.touched || formCompany.get('email')?.dirty)"
                        class="invalid-feedback position-absolute">
                        <div *ngIf="formCompany.get('email')?.errors?.['required']">Correo electrónico es requerido.
                        </div>
                        <div *ngIf="formCompany.get('email')?.errors?.['email']">Correo electrónico no es válido.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <!-- Campo Logo -->
                  <div class="col-12 col-md-6 form-group mb-sm-0 mb-4 position-relative">
                    <label for="logo" class="mb-1 bolder">Logo</label>
                    <input id="logo" formControlName="logo" type="file" class="form-control"
                      [ngClass]="getValidationClass('logo')" (change)="onFileSelected($event)" />
                  </div>
                  <!-- Campo Razón Social -->
                  <div class="col-12 col-md-6 form-group mb-0">
                    <label for="business_name" class="mb-1 bolder">Razón social</label>
                    <input id="business_name" formControlName="business_name" type="text" class="form-control"
                      [ngClass]="getValidationClass('business_name')" spellcheck="false" />
                    <div
                      *ngIf="formCompany.get('business_name')?.invalid && (formCompany.get('business_name')?.touched || formCompany.get('business_name')?.dirty)"
                      class="invalid-feedback position-absolute">
                      <div *ngIf="formCompany.get('business_name')?.errors?.['required']">Razón social es requerido.
                      </div>
                      <div *ngIf="formCompany.get('business_name')?.errors?.['minlength']">Razón social debe tener al
                        menos 3
                        caracteres.</div>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <!-- Campo Teléfono -->
                  <div class="col-12 col-md-6 form-group mb-sm-0 mb-4 position-relative">
                    <label for="phone" class="mb-1 bolder">Teléfono</label>
                    <input id="phone" formControlName="phone" type="text" class="form-control"
                      [ngClass]="getValidationClass('phone')" (keydown)="validateNumberInput($event)" maxlength="12" />
                    <div
                      *ngIf="formCompany.get('phone')?.invalid && (formCompany.get('phone')?.touched || formCompany.get('phone')?.dirty)"
                      class="invalid-feedback position-absolute">
                      <div *ngIf="formCompany.get('phone')?.errors?.['required']">Teléfono es requerido.</div>
                      <div *ngIf="formCompany.get('phone')?.errors?.['minlength']">El teléfono debe tener al menos 8
                        dígitos.</div>
                      <div *ngIf="formCompany.get('phone')?.errors?.['maxlength']">El teléfono no puede exceder los 12
                        dígitos.</div>
                      <div *ngIf="formCompany.get('phone')?.errors?.['pattern']">
                        Teléfono solo puede contener números.
                      </div>
                    </div>
                  </div>

                  <!-- Campo NIT -->
                  <div class="col-12 col-md-6 form-group mb-0 position-relative">
                    <label for="tax_id" class="mb-1 bolder">NIT</label>
                    <input id="tax_id" formControlName="tax_id" type="text" class="form-control"
                      [ngClass]="getValidationClass('tax_id')" (keydown)="validateNumberInput($event)" maxlength="12" />
                    <div
                      *ngIf="formCompany.get('tax_id')?.invalid && (formCompany.get('tax_id')?.touched || formCompany.get('tax_id')?.dirty)"
                      class="invalid-feedback position-absolute">
                      <div *ngIf="formCompany.get('tax_id')?.errors?.['required']">NIT es requerido.</div>
                      <div *ngIf="formCompany.get('tax_id')?.errors?.['minlength']">El NIT debe tener al menos 8
                        dígitos.</div>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <!-- Campo Representante Legal -->
                  <div class="col-12 col-md-6 form-group mb-sm-0 mb-4 position-relative">
                    <label for="legal_representative" class="mb-1 bolder">Representante Legal</label>
                    <input id="legal_representative" formControlName="legal_representative" type="text"
                      class="form-control" [ngClass]="getValidationClass('legal_representative')" spellcheck="false" />
                    <div
                      *ngIf="formCompany.get('legal_representative')?.invalid && (formCompany.get('legal_representative')?.touched || formCompany.get('legal_representative')?.dirty)"
                      class="invalid-feedback position-absolute">
                      <div *ngIf="formCompany.get('legal_representative')?.errors?.['required']">Representante Legal es
                        requerido.</div>
                      <div *ngIf="formCompany.get('legal_representative')?.errors?.['minlength']">Representante Legal
                        debe
                        tener al menos 3 caracteres.</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-0 mb-md-0">
                    <div class="form-group form-switch d-flex justify-content-center align-items-center mt-md-4 mt-0">
                      <input class="form-check-input switch-custom" type="checkbox" id="is_active"
                        formControlName="is_active" />
                      <label class="form-check-label ms-4 bolder mb-1" for="is_active" [ngClass]="getTextClass()">
                        {{ formCompany.get('is_active')?.value ? 'Activo' : 'Inactivo' }}
                      </label>
                    </div>
                  </div>
                </div>
                <!-- Botón de Guardar -->
                <div class="d-flex mt-2 justify-content-center justify-content-md-end ">
                  <button type="submit" class="btn btn-success text-white" (click)="onSubmit()"
                    [disabled]="formCompany.invalid">
                    Guardar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--Botón de atrás-->
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-secondary text-white" (click)="backToTable()">
            Atrás
          </button>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<div id="svg-container" style="display:none;">
  <img
    [src]="(dataTemp.logo === null || dataTemp.logo === '') ? '../../../../assets/images/mobile-logo.png' : environment.apiStorage + dataTemp.logo"
    alt="User Image" width="250" height="250" style="border-radius: 50%;"
    [ngClass]="{'grayscale': dataTemp.logo === null || dataTemp.logo === ''}">
</div>