<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div [hidden]="showForm && dataCompany">
  <div [hidden]="showForm">
    <app-group-button-general [component]="'Compañías'" (buttonClick)="handleButtonClick($event)">
    </app-group-button-general>
  </div>
</div>
<app-general-table [columns]="fieldsTable" [transformedData]="dataCompanyTrasnform" [data]="dataCompany"
  [acciones]="acciones" [columnAlignments]="columnAlignments" [title]="'Compañías'"
  (fetchDataEvent)="onFetchData($event)" [totalRecords]="totalRecord" [loadingTable]="loadingTable"
  (actionEvent)="handleAction($event)">
</app-general-table>

<c-row *[hidden]="showForm">
  hola mundo
</c-row>