.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 21, 21, 0.8);
  z-index: 9999;
  opacity: 200;
}

.spinner-image {
  margin-bottom: -12rem;
  width: 250px;
}

.second-image {
  width: 400px;
}
