<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div [hidden]="showForm">
  <app-group-button-general (buttonClick)="handleButtonClick($event)" [component]="'Mascotas'">
  </app-group-button-general>
  <app-filter-header [date]="true" [state]="true" [name]="true" [type_pet]="true" [type_breed]="true" [age]="true"
    [dataTypePet]="dataTypePet" [dataTypeBreed]="dataTypeBreed" [onlyBranch]="true" [title]="'Mascotas'"
    (filterDataEvent)="setFilter($event)" (changeFilter)="viewTable = $event">
  </app-filter-header>
  <app-card-pet [dataPet]="dataPet"></app-card-pet>
</div>
<c-row [hidden]="!showForm">
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>
        <div class="container">
          <div class="row justify-content-between align-items-center mb-2">
            <div class="col-12 col-md-auto text-center text-md-start pt-2">
              <h1 class="mb-0">Agregar mascotas</h1>
            </div>
          </div>
        </div>
      </c-card-header>
      <c-card-body>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active tab-custom" id="general-tab" data-bs-toggle="tab" data-bs-target="#general"
              type="button" role="tab" aria-controls="general" aria-selected="true">
              <span class="bolder">Información General</span>
            </button>
          </li>
        </ul>
        <div class="tab-content border-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
            <form [formGroup]="formPet" class="pt-3" (ngSubmit)="onSubmit()">
              <div class="d-flex flex-column">
                <div class="container">
                  <div class="form-group mb-0">
                    <div class="row mb-md-4">
                      <!-- Nombre -->
                      <div class="col-md-6 mb-3">
                        <div class="form-group position-relative">
                          <label for="name" class="bolder">Nombre</label>
                          <input id="name" formControlName="name" type="text" class="form-control"
                            [ngClass]="getValidationClass('name')" maxlength="100" />
                          <div
                            *ngIf="formPet.get('name')?.invalid && (formPet.get('name')?.touched || formPet.get('name')?.dirty)"
                            class="invalid-feedback position-absolute">
                            <div *ngIf="formPet.get('name')?.errors?.['required']">Nombre es
                              requerido.
                            </div>
                            <div *ngIf="formPet.get('name')?.errors?.['minlength']">
                              Nombre debe tener al menos 3 caracteres.
                            </div>
                            <div *ngIf="formPet.get('name')?.errors?.['pattern']">
                              El nombre solo puede contener letras y un solo espacio entre palabras.
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Edad -->
                      <div class="col-md-6 mb-3">
                        <div class="form-group position-relative">
                          <label for="age" class="bolder">Edad</label>
                          <input id="age" formControlName="age" type="text" class="form-control"
                            [ngClass]="getValidationClass('age')" (keypress)="onlyNumbers($event)" maxlength="3" />
                          <div
                            *ngIf="formPet.get('age')?.invalid && (formPet.get('age')?.touched || formPet.get('age')?.dirty)"
                            class="invalid-feedback position-absolute">
                            <div *ngIf="formPet.get('age')?.errors?.['required']">Edad es
                              requerido.
                            </div>
                            <div *ngIf="formPet.get('age')?.errors?.['minlength']">
                              Edad debe tener al menos 1 caracteres.
                            </div>
                            <div *ngIf="formPet.get('age')?.errors?.['pattern']">
                              Edad solo puede contener letras y un solo espacio entre palabras.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-md-4">
                      <!-- Tipo raza -->
                      <div class="col-md-6 mb-3">
                        <div class="form-group position-relative">
                          <label for="type_breed_id" class="bolder mb-1">Tipo raza</label>
                          <mat-select formControlName="type_breed_id" placeholder="Seleccionar raza" multiple="false"
                            class="form-control" [ngClass]="getValidationClass('type_breed_id')">
                            <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="Buscar tipo raza"
                              noEntriesFoundLabel="No se encontraron resultados">
                            </ngx-mat-select-search>
                            <mat-option *ngFor="let typeBreed of dataTypeBreed | filterRol : searchControl.value"
                              [value]="typeBreed.id">
                              {{typeBreed.name}}
                            </mat-option>
                          </mat-select>
                          <ng-container *ngIf="dataTypeBreed.length <= 0; else closeButton">
                            <mat-spinner diameter="24" strokeWidth="3" class="spinner me-3"></mat-spinner>
                          </ng-container>
                          <ng-template #closeButton>
                            <button *ngIf="formPet.get('type_breed_id')?.value" mat-icon-button
                              (click)="clearSelectionTypeBreed()" class="clear-icon">
                              <mat-icon>close</mat-icon>
                            </button>
                          </ng-template>
                          <div
                            *ngIf="formPet.get('type_breed_id')?.invalid && (formPet.get('type_breed_id')?.touched || formPet.get('type_breed_id')?.dirty)"
                            class="invalid-feedback position-absolute">
                            <div *ngIf="formPet.get('type_breed_id')?.errors?.['required']">Tipo raza es
                              requerido.</div>
                          </div>
                        </div>
                      </div>
                      <!-- Tipo mascota -->
                      <div class="col-md-6 mb-3">
                        <div class="form-group position-relative">
                          <label for="type_pet_id" class="bolder mb-1">Tipo mascota</label>
                          <mat-select formControlName="type_pet_id" placeholder="Seleccionar tipo mascota"
                            multiple="false" class="form-control" [ngClass]="getValidationClass('type_pet_id')">
                            <ngx-mat-select-search [formControl]="searchControl" placeholderLabel="Buscar tipo mascota"
                              noEntriesFoundLabel="No se encontraron resultados">
                            </ngx-mat-select-search>
                            <mat-option *ngFor="let typePet of dataTypePet | filterRol : searchControl.value"
                              [value]="typePet.id">
                              {{typePet.name}}
                            </mat-option>
                          </mat-select>
                          <ng-container *ngIf="dataTypePet.length <= 0; else closeButton">
                            <mat-spinner diameter="24" strokeWidth="3" class="spinner me-3"></mat-spinner>
                          </ng-container>
                          <ng-template #closeButton>
                            <button *ngIf="formPet.get('type_pet_id')?.value" mat-icon-button
                              (click)="clearSelectionTypePet()" class="clear-icon">
                              <mat-icon>close</mat-icon>
                            </button>
                          </ng-template>
                          <div
                            *ngIf="formPet.get('type_pet_id')?.invalid && (formPet.get('type_pet_id')?.touched || formPet.get('type_pet_id')?.dirty)"
                            class="invalid-feedback position-absolute">
                            <div *ngIf="formPet.get('type_pet_id')?.errors?.['required']">Tipo mascota es requerido.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-md-4">
                      <!-- Foto -->
                      <div class="col-md-6 mb-3">
                        <label for="image_pet" class="bolder mb-1">Foto de Perfil</label>
                        <div class="input-group">
                          <input id="image_pet" formControlName="image_pet" type="file" class="form-control"
                            accept="image/png, image/jpeg, image/jpg" [ngClass]="getValidationClass('image_pet')"
                            (change)="onFileSelected($event)" />
                          <span class="input-group-text" data-bs-toggle="tooltip" data-bs-placement="top"
                            (click)="openInformation()" style="cursor: pointer;">?</span>
                        </div>
                      </div>
                      <!-- Sexo -->
                      <div class="col-md-6 mb-3">
                        <div class="form-group position-relative">
                          <label for="sex" class="bolder mb-1">Sexo</label>
                          <mat-select formControlName="sex" placeholder="Seleccionar sexo" class="form-control"
                            [ngClass]="getValidationClass('sex')">
                            <mat-option [value]="'male'">Macho</mat-option>
                            <mat-option [value]="'female'">Hembra</mat-option>
                          </mat-select>
                          <div
                            *ngIf="formPet.get('sex')?.invalid && (formPet.get('sex')?.touched || formPet.get('sex')?.dirty)"
                            class="invalid-feedback  position-absolute">
                            <div *ngIf="formPet.get('sex')?.errors?.['required']">El sexo es requerido.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-md-4">
                      <!-- Descripcion -->
                      <div class="col-md-6 mb-3">
                        <label for="description" class="bolder mb-1">Descripción</label>
                        <textarea id="description" formControlName="description" type="text" rows="3"
                          class="form-control" [ngClass]="getValidationClass('description')"> </textarea>
                        <div *ngIf="
                            formPet.get('description')?.invalid &&
                            (formPet.get('description')?.touched ||
                            formPet.get('description')?.dirty)
                          " class="invalid-feedback  position-absolute">
                          <div *ngIf="formPet.get('description')?.errors?.['required']">
                            Descripción es requerida.
                          </div>
                          <div *ngIf="formPet.get('description')?.errors?.['minlength']">
                            Descripción debe tener al menos 10 caracteres.
                          </div>
                        </div>
                      </div>
                      <!-- Fecha de nacimiento -->
                      <div class="col-md-6 mb-3">
                        <div class="form-group position-relative">
                          <label for="birthdate" class="mb-1 bolder">Fecha de nacimiento</label>
                          <input id="birthdate" formControlName="birthdate" type="date" class="form-control"
                            [ngClass]="getValidationClass('birthdate')" spellcheck="false" [max]="dateToday" />
                          <div
                            *ngIf="formPet.get('birthdate')?.invalid && (formPet.get('birthdate')?.touched || formPet.get('birthdate')?.dirty)"
                            class="invalid-feedback  position-absolute">
                            <div *ngIf="formPet.get('birthdate')?.errors?.['required']">Fecha de nacimiento es
                              requerida.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-md-4">
                      <!-- Estado -->
                      <div class="col-md-6 mb-3">
                        <label for="is_active" class="mb-1 bolder">Estado</label>
                        <div class="d-flex align-items-center">
                          <input class="form-control switch-custom" type="checkbox" id="is_active"
                            formControlName="is_active" />
                          <label class="form-check-label ms-2 bolder mb-0" for="is_active"
                            [ngClass]="getTextClass(1)">{{
                            formPet.get('is_active')?.value ? 'Activo' : 'Inactivo' }}</label>
                        </div>
                      </div>
                      <!-- Esterilizado -->
                      <div class="col-md-6 mb-3">
                        <label for="sterilized" class="mb-1 bolder">Esterilizado</label>
                        <div class="d-flex align-items-center">
                          <input class="form-control switch-custom" type="checkbox" id="sterilized"
                            formControlName="sterilized" />
                          <label class="form-check-label ms-2 bolder mb-0" for="sterilized"
                            [ngClass]="getTextClass(2)">{{
                            formPet.get('sterilized')?.value ? 'Si' : 'No' }}</label>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-md-4">
                      <div class="col-12 d-flex justify-content-end" style="height: 40px;">
                        <button type="button" class="btn btn-primary" [disabled]="formPet.invalid">
                          Guardar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-back text-white" (click)="backToTable()">Atrás</button>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<app-import-excel [component]="'pet'" [title]="'mascotas'"></app-import-excel>
