<div class="bg-light min-vh-100 d-flex flex-row align-items-center justify-content-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col xs="12" sm="10" md="8" lg="6">
        <c-card class="p-0 shadow-lg border-0 rounded">
          <c-card-body>
            <div class="photo-login mb-4"></div>
            <form [formGroup]="formLogin" (ngSubmit)="login()">
              <h2 class="pb-3 text-center bolder">Inicio de sesión</h2>
              <div class="input-group-container mb-3">
                <c-input-group class="mb-1">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl formControlName="correoElectronico"
                    placeholder="Correo electrónico" class="form-control" />
                </c-input-group>
                <div class="text-center">
                  <small class="text-danger"
                    *ngIf="formLogin.get('correoElectronico')?.invalid && formLogin.get('correoElectronico')?.touched">
                    <span *ngIf="formLogin.get('correoElectronico')?.errors?.['required']">
                      El correo electrónico es requerido.
                    </span>
                    <span *ngIf="formLogin.get('correoElectronico')?.errors?.['email']">
                      El formato del correo no es válido.
                    </span>
                  </small>
                </div>
              </div>
              <div class="input-group-container mb-3">
                <c-input-group class="mb-1">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="current-password" cFormControl formControlName="contraseña"
                    placeholder="Contraseña" type="password" class="form-control" />
                </c-input-group>
                <div class="text-center">
                  <small class="text-danger"
                    *ngIf="formLogin.get('contraseña')?.invalid && formLogin.get('contraseña')?.touched">
                    <span *ngIf="formLogin.get('contraseña')?.errors?.['required']">
                      La contraseña es requerida.
                    </span>
                    <span *ngIf="formLogin.get('contraseña')?.errors?.['minlength']">
                      La contraseña debe tener al menos 6 caracteres.
                    </span>
                  </small>
                </div>
              </div>
              <c-row class="text-center">
                <c-col>
                  <button cButton class="px-4 btn-dark text-white" type="submit"
                    [disabled]="btnLogin || formLogin.invalid">
                    Ingresar
                  </button>
                </c-col>
              </c-row>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>