.photo-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-image: url(../../../assets/images/vertical-logo.png);
  background-size: cover;
  background-position: center;
}

.container-photo {
  background-color: #0010f5;
}

.text-blue {
  color: #0010f5;
}
