<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class = "col-md-6">
        <div class="text-center">
          <img src="../../../assets/images/horizontal-logo.png" alt="Logo" class="img-fluid mb-4 invert-image">
          <h1 class="display-3">Error 404</h1>
          <h4 class="pt-3">¡Oh no! Página no encontrada</h4>
          <p class="text-medium-emphasis">
            Parece que esta página se ha perdido. Intenta buscarla de nuevo.
          </p>
          <a href="/" class="btn btn-primary mt-4">Volver al Inicio</a>
        </div>
      </div>
    </div>
  </div>
</div>
