<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary">Importar datos cliente</button>
      <button type="button" class="btn btn-success download-button">Descargar Excel y sigue instrucciones</button>
    </div>
  </div>
  <div class="row loading-container">
    <div class="col-md-12">
      <p>Cargando datos...</p>
    </div>
  </div>
  <div class="row success-container">
    <div class="col-md-12">
      <p>Datos importados con éxito.</p>
    </div>
  </div>
</div>