<c-col xs>
  <c-card class="mb-4">
    <div class="container w-75 mt-4">
        <h2 class="text-center">
          Términos y Condiciones de Uso de VetConnect
        </h2>
        <p>
          Cuando usas nuestros servicios, nos confías tu información. Comprendemos que se trata de una gran
          responsabilidad y trabajamos arduamente para proteger tu información y darte el control de ella. La seguridad
          y la privacidad son nuestra máxima prioridad, y nos comprometemos a proteger tus datos usando las
          mejores medidas de seguridad.
        </p>
        <p>
          Bienvenido a VetConnect. Al acceder y utilizar nuestra plataforma, aceptas cumplir con los siguientes términos
          y condiciones. Si no estás de acuerdo con alguno de los términos, te recomendamos no utilizar nuestros
          servicios.
        </p>

      <h4 class="text-black">
        1. Aceptación de los Términos
      </h4>
      <p>
        Al registrarte y utilizar VetConnect, aceptas estos términos y condiciones, nuestra política de privacidad y
        cualquier otra política que publiquemos en la plataforma. Estos términos pueden ser actualizados en cualquier
        momento, por lo que te sugerimos revisarlos periódicamente.
      </p>

      <h4 class="text-black">
        2. Descripción del Servicio
      </h4>
      <p>
        VetConnect es una plataforma diseñada para facilitar la conexión entre clínicas veterinarias
        y sus clientes, permitiendo la gestión de citas, inventarios y otros aspectos operativos de la clínica. Es
        importante señalar que VetConnect no está destinada a la venta de productos.
      </p>

      <h4 class="text-black">3. Registro de Usuario</h4>
      <p>
        Para utilizar algunas funcionalidades de VetConnect, debes crear una cuenta
        proporcionando información veraz y actualizada. Eres responsable de la seguridad de tu cuenta y de mantener la
        confidencialidad de tu contraseña.
      </p>

      <h4 class="text-black">4. Uso Permitido de la Plataforma</h4>
      <p>
        <span>VetConnect</span> debe ser utilizada de acuerdo con la ley y nuestros términos. Está prohibido:
      </p>
      <ul>
        <li>Hacer uso indebido de la plataforma para actividades ilegales.</li>
        <li>Falsificar información o crear cuentas con datos falsos.</li>
        <li>Acceder a cuentas de otros usuarios sin autorización.</li>
      </ul>

      <h4 class="text-black">5. Acceso Restringido
      </h4>
      <p>
        Es fundamental entender que el acceso a la plataforma está limitado a los administradores de clínicas y a los
        desarrolladores de VetConnect. No se permite el acceso a clientes o cualquier otro tipo de usuario no
        autorizado.
      </p>

      <h4 class="text-black">6. Protección de Datos
      </h4>
      <p>
        Trabajamos continuamente para garantizar la seguridad de tus datos y cumplir con las normativas de protección de
        datos aplicables. La información proporcionada será tratada de manera confidencial y utilizada exclusivamente
        para los fines para los cuales fue recopilada.
      </p>

      <h4 class="text-black">7. Modificaciones a los Términos
      </h4>
      <p>
        Nos reservamos el derecho de modificar estos términos en cualquier momento. Las modificaciones entrarán en
        vigencia una vez publicadas en la plataforma, por lo que es recomendable que revises esta sección con
        regularidad.
      </p>
    </div>
  </c-card>
</c-col>
<div class="d-flex justify-content-center justify-content-lg-end m-lg-4 mb-3">
  <button type="button" class="btn btn-secondary" (click)="goBack()">Volver</button>
</div>
