<div>
  <h2>
    Términos y Condiciones de Uso de VetConnect
  </h2>

  <p>
    Bienvenido a VetConnect. Al acceder y utilizar nuestra plataforma, aceptas cumplir con los siguientes términos y
    condiciones. Si no estás de acuerdo con alguno de los términos, te recomendamos no utilizar nuestros servicios.
  </p>

  <h4>
    1. Aceptación de los Términos
  </h4>
  <p>
    Al registrarte y utilizar VetConnect, aceptas estos términos y condiciones, nuestra política de privacidad y
    cualquier otra política que publiquemos en la plataforma. Estos términos pueden ser actualizados en cualquier
    momento, por lo que te sugerimos revisarlos periódicamente.
  </p>
  <h4>
    2. Descripción del Servicio
  </h4>
  <p>
    VetConnect es una plataforma diseñada para facilitar la conexión entre veterinarios y clientes. Ofrecemos funcionalidades como:
  </p>
  <ul>
    <li>Consulta de información sobre veterinarios.</li>
    <li>Reservación de citas.</li>
  </ul>
  <h4>3. Registro de Usuario</h4>
  <p>
    Para utilizar algunas funcionalidades de VetConnect, debes crear una cuenta proporcionando información veraz y
    actualizada. Eres responsable de la seguridad de tu cuenta y de mantener la confidencialidad de tu contraseña.
  </p>
  <h4>4. Uso Permitido de la Plataforma</h4>
  <p>
    VetConnect debe ser utilizada de acuerdo con la ley y nuestros términos. Está prohibido:
  </p>
  <ul>
    <li>Hacer uso indebido de la plataforma para actividades ilegales.</li>
    <li>Falsificar información o crear cuentas con datos falsos.</li>
    <li>Acceder a cuentas de otros usuarios sin autorización.</li>
    <li>Usar la plataforma para enviar spam o publicidad no solicitada. </li>
  </ul>
  <button type="button" class="btn btn-secondary" (click)="goBack()">Volver</button>
</div>
