<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>

    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button cButton color="" [caret]="false" cDropdownToggle class="py-0">
      <c-avatar *ngIf="user_information.image_profile === null && user_information.image_profile === ''"
        cTextColor="primary" shape="rounded-1" style="width: 60px; height: 45px;"
        src="../../../../assets/images/veterinario-black-img.png" status="success" loading="lazy">
      </c-avatar>
      <c-avatar *ngIf="user_information.image_profile !== null || user_information.image_profile !== ''"
        cTextColor="primary" shape="rounded-1" size="md" [src]="environment.apiStorage + user_information.image_profile"
        status="success" loading="lazy">
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h5 cDropdownHeader class="bg-light fw-semibold text-center">{{user_information.username}}</h5>
      </li>
      <li></li>
      <li>
        <a [routerLink]="'/user-profil'" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Perfil
        </a>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a style="cursor: pointer;" (click)="logout()" cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Cerrar sesión
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>
