.export-options-list {
  list-style: none;
  padding: 0;
  margin: 15px 0;

  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    input[type="radio"] {
      margin-right: 10px;
      accent-color: #007bff;
      cursor: pointer;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.2);
      }
    }

    label {
      font-size: 16px;
      color: #333;
      cursor: pointer;
      transition: color 0.2s, font-size 0.2s;
    }

    &:hover label {
      color: #007bff;
      font-size: 17px;
    }
  }
}

